<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504857425342-ddbed9lk4vulkdobf5l6mjp45uhhmfe0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504857425342-ddbed9lk4vulkdobf5l6mjp45uhhmfe0</string>
	<key>API_KEY</key>
	<string>AIzaSyACDk_tsZJgD0OE7nb9vameqyGFKW5PF0k</string>
	<key>GCM_SENDER_ID</key>
	<string>504857425342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>heesung.Cocktail</string>
	<key>PROJECT_ID</key>
	<string>shaker-app-23dec</string>
	<key>STORAGE_BUCKET</key>
	<string>shaker-app-23dec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504857425342:ios:c0b49ffafcb3bc4c9c35ef</string>
</dict>
</plist>