<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>보드카</string>
		<key>base</key>
		<string>보드카</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>진</string>
		<key>base</key>
		<string>진</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>위스키</string>
		<key>base</key>
		<string>위스키</string>
	</dict>
</array>
</plist>
