<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>vodka</string>
		<key>base</key>
		<string>vodka</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>gin</string>
		<key>base</key>
		<string>gin</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>whiskey</string>
		<key>base</key>
		<string>whiskey</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>scotchWhiskey</string>
		<key>base</key>
		<string>whiskey</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>bourbonWhiskey</string>
		<key>base</key>
		<string>whiskey</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>ryeWhiskey</string>
		<key>base</key>
		<string>whiskey</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>jackDanielWhiskey</string>
		<key>base</key>
		<string>whiskey</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>tequila</string>
		<key>base</key>
		<string>tequila</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>baileys</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>melonLiqueur</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>whiteCacaoLiqueur</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>sweetVermouth</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>dryVermouth</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>peachTree</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>grapeFruitLiqueur</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>cacaoLiqueur</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>cremeDeCassis</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>greenMintLiqueur</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>campari</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>kahlua</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>blueCuraso</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>malibu</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>bananaliqueur</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>amaretto</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>triplesec</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>butterScotchLiqueur</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>angosturaBitters</string>
		<key>base</key>
		<string>liqueur</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>brandy</string>
		<key>base</key>
		<string>brandy</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>tonicWater</string>
		<key>base</key>
		<string>beverage</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>coke</string>
		<key>base</key>
		<string>beverage</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>milk</string>
		<key>base</key>
		<string>beverage</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>orangeJuice</string>
		<key>base</key>
		<string>beverage</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>cranBerryJuice</string>
		<key>base</key>
		<string>beverage</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>clubSoda</string>
		<key>base</key>
		<string>beverage</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>grapeFruitJuice</string>
		<key>base</key>
		<string>beverage</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>pineappleJuice</string>
		<key>base</key>
		<string>beverage</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>gingerAle</string>
		<key>base</key>
		<string>beverage</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>sweetAndSourMix</string>
		<key>base</key>
		<string>beverage</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>appleJuice</string>
		<key>base</key>
		<string>beverage</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>cider</string>
		<key>base</key>
		<string>beverage</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>lemonJuice</string>
		<key>base</key>
		<string>beverage</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>whiteRum</string>
		<key>base</key>
		<string>rum</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>darkRum</string>
		<key>base</key>
		<string>rum</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>overProofRum</string>
		<key>base</key>
		<string>rum</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>lime</string>
		<key>base</key>
		<string>assets</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>limeSqueeze</string>
		<key>base</key>
		<string>assets</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>limeSyrup</string>
		<key>base</key>
		<string>assets</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>lemon</string>
		<key>base</key>
		<string>assets</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>lemonSqueeze</string>
		<key>base</key>
		<string>assets</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>appleMint</string>
		<key>base</key>
		<string>assets</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>whippingCream</string>
		<key>base</key>
		<string>assets</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>honey</string>
		<key>base</key>
		<string>assets</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>olive</string>
		<key>base</key>
		<string>assets</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>oliveJuice</string>
		<key>base</key>
		<string>assets</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>sugar</string>
		<key>base</key>
		<string>assets</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>sugarSyrup</string>
		<key>base</key>
		<string>assets</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>rawCream</string>
		<key>base</key>
		<string>assets</string>
	</dict>
	<dict>
		<key>iHave</key>
		<false/>
		<key>name</key>
		<string>grenadineSyrup</string>
		<key>base</key>
		<string>assets</string>
	</dict>
</array>
</plist>
